@font-face {
  font-family: 'Druk';
  src: local('Druk'),
    url('../fonts/Druk-Wide-Medium.woff') format('woff'),
    url('../fonts/Druk-Wide-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

#root {
  width: 100vw;
  min-width: 320px;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.header {
  padding: 0 calc(16px + 66 * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: #1F2326;
  color: white;
}

.header__left-side {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logotips {
  display: flex;
  align-items: center;
}

.riot-games {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-line {
  width: 1px;
  height: 28px;
  background: #FFFFFF;
  margin: 0 calc(16px + 24 * ((100vw - 320px) / (1920 - 320)));
}

.valorant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
  max-width: 850px;
  margin-left: calc(16px + 40 * ((100vw - 320px) / (1920 - 320)));
  ;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: #FFFFFF;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: center;
}

.nav__dropdown {
  display: flex;
  align-items: center;
}

.nav__droplist-icon {
  margin-left: 8px;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.user-info p {
  margin-left: 16px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-settings {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  cursor: pointer;
}

.user-settings:hover .user-settings__droplist {
  width: 8px;
  height: 7px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 0 calc(16px + 66 * ((100vw - 320px) / (1920 - 320)));
  background: rgb(255, 255, 255);
}

.footer a {
  font-size: 12px;
  color: #1F2326;
  opacity: 0.5;
  transition: 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.footer a:hover {
  font-size: 12px;
  color: #FF4656;
  opacity: 1;
}

.author {
  margin-right: 16px;
}

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - 135px);
  background: #FF4656;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  background: url(../img/background-img.png) no-repeat;
  background-position: center center;
  background-size: cover;
  mix-blend-mode: multiply;
}

.section {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  padding: 0 calc(16px + 66 * ((100vw - 320px) / (1920 - 320)));
}

.title-block {
  width: 142px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 500 104px 'Druk', sans-serif;
  line-height: 136px;
  letter-spacing: 0.1em;

  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);

  transform: rotateZ(90deg);
}

.char-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-card {
  position: relative;
  display: flex;
  width: 300px;
  height: 667px;
  overflow: hidden;
}

.char-card::after {
  content: '';
  position: absolute;
  width: 1100%;
  height: 1100%;
  top: 20px;
  left: -550%;
  background: #1F2326;
  transform-origin: 50% 0;
  transform: rotate(-45deg);
  z-index: -1;
}

.char-card h3 {
  position: fixed;
  z-index: 9;

  font: 500 48px 'Druk', sans-serif;
  line-height: 136px;
  letter-spacing: 0.1em;

  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);

  transform: translate(-48%, 100%) rotateZ(90deg);
}

.char-card p {
  position: absolute;
  z-index: 8;

  font: 500 16px 'Druk', sans-serif;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #FF4656;

  transform: translate(-27%, 580%) rotateZ(90deg);
}
